.container {
  display: flex;
  width: 250px;
  flex-direction: column;
  background-color: #fafafa;
  font-size: 12px;

  @media screen(md) {
    width: 100%;
  }
}

.filterGroup {
  padding-top: 5px;
  padding-left: 16px;
  font-size: 12px;
}

.grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media screen(md) {
    padding-bottom: 7px;
    border-bottom: var(--border-style);
    display: grid;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #222;
  }
}