.container {
  display: grid;
  gap: 1rem;
  padding: 10px;

  @media screen(md) {
    padding: 15px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.empty {
  display: flex;
  justify-content: center;
}

.empty p {
  margin-top: 50px;
  font-size: 20px;

  @media screen(md) {
    margin-top: 80px;
    font-size: 30px;
  }
}