.container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  padding: 4rem 0;

  @media screen(md) {
    grid-template-columns: 8fr 4fr;
  }
}

.slidingMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  overflow-y: auto;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);

  @media screen(md) {
    display: none;
  }
}

.fixedMenu {
  display: none;

  @media screen(md) {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}