.main {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  border-left: var(--border-style);
  border-right: var(--border-style);
}

.footer {
  background-color: #f1f1f1;
  padding: 20px 15px 45px;
  border: var(--border-style);

  @media screen(md) {
    font-size: 18px;
  }
}

.footer p {
  margin-bottom: 10px;
}


@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #4f4f4f;
  }
}