.button {
  background: transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border: solid 0.0625rem #000;
  color: #000;
  border-radius: 0.25rem;
  font-family: Mabry Pro, sans-serif;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, -webkit-max-content);
  grid-auto-columns: minmax(0, max-content);
  display: inline-grid;
  align-items: center;
  justify-content: center;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: all .14s ease-out;
}

.button:hover:not(:active) {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
  color: #000;
}

.primary {
  background-color: #000;
  color: #fff;
}

.primary:hover:not(:active) {
  background-color: #ff90e8;
}

.secondary:hover:not(:active) {
  background-color: #ffffff;
}

.outro:hover:not(:active) {
  background-color: #fff099;
}