.container {
  background-color: #f1f1f1;
  padding: 15px 7px 15px 7px;
  border-bottom: var(--border-style);
  padding: 7px 7px 7px 0;
}

.container input {
  width: 100%;
  font-weight: 500;
  margin: 0;
  display: inline-block;
  background: transparent;
  transition: all .15s linear;
  height: 40px;
  color: black;
  font-size: 16px;
  padding-left: 16px;
}

.container input::placeholder {
  color: rgba(0, 0, 0, 0.5)
}